:root{
    --dteal: #0E8388;
    --teal: #00ABB3;
    --lteal: #CBE4DE;
    --black: #000;
    --dgrey: #3C4048;
    --mgrey: #B2B2B2;
    --lgrey: #EAEAEA;
    --white: #ffffff;
}

/* Set the size of the div element that contains the map */
#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
  }
  

